*{
    margin: 0;
    padding: 0;
}

header 
{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    color: #00a88e;
    text-decoration: underline;
    margin-bottom: 10px;
}

nav
{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom:  1px solid rgb(206, 206, 206);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.principal
{
    margin-right: 100px;
    text-decoration: none;
    color: #00a88e;
    font-size: 25px;
}

.principal:hover
{
    color: #00886b;
}

ul
{
    width: 425px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

li a
{
    color: #00a88e;
    text-decoration: none;
}

li a:hover
{
    color: #00886b;
}

.infor
{
    display: flex;
    justify-content: center;
}

figure
{
    margin-left: 20px;
}
